{% extends 'transaction/base.html' %}

{% block content %}

<div>
  <h1 class="center">Перед Вами приложение "Personal Money Transactions" (PMT)</h1>
  <h1 class="center">("Личные денежные операции").</h1>
  <h3>&nbsp&nbsp&nbsp&nbsp&nbsp Данное приложение предназначено для учёта и анализа операций доходов и расходов.</h3>
  <h3>С помощью встроенного предиктора можно делать прогнозы касательно сроков "кассового разрыва"</h3>
  <h3>и вовремя предпринимать меры по его предотвращению. На основании вторичных данных можно быстро</h3>
  <h3>ориентироваться в текущем финансовом положении, что поможет принимать взвешенные решения по </h3>
  <h3>планируемым расходам и накоплениям.</h3>
  <h3>&nbsp&nbsp&nbsp&nbsp&nbsp Имеется анализ категорий доходов и расходов в абсолютных среднесрочных и в процентных показателях</h3>
  <h3>а также вывод информации о средней цене закупки того или иного товара/услуги,</h3>
  <h3>темпах среднесуточных, средненедельных, среднемесячных, среднеполугодовых и среднегодовых доходов,</h3>
  <h3>расходов и прибыли,среднем потреблении товаров/услуг, среднем потреблении товаров/услуг.</h3>
</div>

{% endblock %}