{% extends 'transaction/base.html' %}

{% block content %}

{% if pk == 3 %}
<h1>{{ pk }}. Расходы по наименованию товаров/услуг:</h1>
{% include 'transaction/table3.html' %}


{% elif pk == 4 %}
<h1>{{ pk }}. Расходы по категориям товаров/услуг:</h1>
{% include 'transaction/table4.html' %}


{% elif pk == 5 %}
<h1>{{ pk }}. Доходы по наименованию источников:</h1>
{% include 'transaction/table5.html' %}


{% elif pk == 6 %}
<h1>{{ pk }}. Доходы по категориям источников:</h1>
{% include 'transaction/table6.html' %}


{% elif pk == 7 %}
<h1>{{ pk }}. Доходы и расходы по наименованиям (объединение таблиц 3 и 5):</h1>
{% include 'transaction/table7.html' %}


{% elif pk == 8 %}
<h1>{{ pk }}. Доходы и расходы по категориям (объединение таблиц 4 и 6):</h1>
{% include 'transaction/table8.html' %}


{% elif pk == 9 %}
<h1>{{ pk }}. Доходы и расходы по наименованиям и категориям (таблицы 3, 4, 5 и 6):</h1>
{% include 'transaction/table9.html' %}


{% endif %}

{{ show }}
{% endblock %}




